.main {
    min-height: 90vh;
}

.dark-mode {
    background-color: #282626;
    color: white;
}

.author-name {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3px;
}

.toggle-button {
    margin-top: 3px;
    font-size: 20px;
    border-radius: 25%;
}

.article-header {
    padding-top: 3%;
}

#read-more {
    text-decoration: none;
    color: black;
    padding-top: 2%;
}

.card-img-top {
    min-height: 25vh;
    max-height: 25vh;
}

.card-link {
    text-decoration: none;
    color: black;
}

.project-header {
    padding-top: 5%;
}

.connect-header {
    padding-top: 5%;
}

hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
    width: 90%;
}