.main {
    min-height: 90vh;
}

.dark-mode {
    background-color: #282626;
    color: white;
}

.dark-mode .card {
    background-color: #343a40;
    color: white;
}

.dark-mode .author-name {
    color: white;
}

.dark-mode .github {
    content: url("../public/icons/GitHub_Invertocat_White_Clearspace.png");
}

.github {
    width: 30px;
    height: 30px;
}

.view-demo {
    margin: 10px;
}

.author-name {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3px;
    text-decoration: none;
    color: black;
}

.toggle-button {
    margin-top: 3px;
    font-size: 20px;
    border-radius: 25%;
}

.content {
    padding-top: 2%;
}

.project {
    padding: 1%;
}

.project-img {
    height: 20vh;
    width: 100%;
    padding-left: 5%;
}

.footer-section {
    margin: 20px;
}